<h1 class="display-2 text-center"> ¡Bienvenido {{email}}!</h1>
<h1> Aqui estan tus mensajes: </h1>
<table class="table">
    <tr>
        <th>id</th>
        <th>de</th>
        <th>para</th>
        <th>asunto</th>
        <th>stamp</th>
<!--    <th>contenido</th>
        <th>adjunto</th> -->
    <tr>
        {{#each mensajes}}
    <tr>
        <td>{{cabecera.idd}}</td>
        <td>{{cabecera.de}}</td>
        <td>{{cabecera.para}}</td>
        <td>{{cabecera.asunto}}</td>
        <td>{{cabecera.stamp}}</td>
<!--    <td>{{headers.contenido}}</td>
        <td>{{headers.adjunto}}</td> -->
    </tr>
    {{/each}}
</table>
<form method="post" action="/principal/uploadPhoto" enctype="multipart/form-data">
    <p>Image: <input type="file" name="image" /></p>
    <p><input type="submit" value="Upload" /></p>