<h1 class="display-2 text-center"> ¡Bienvenido {{email}}!</h1>
<h1> Aqui estan tus mensajes: </h1>
<table class="table">
    <tr>
        <th>id</th>
        <th>de</th>
        <th>para</th>
        <th>asunto</th>
        <th>stamp</th>
        <th>detalles</th>
<!--    <th>contenido</th>
        <th>adjunto</th> -->
    <tr>
        {{#each mensajes}}
    <tr>
        <td>{{_id}}</td>
        <td>{{cabecera.de}}</td>
        <td>{{cabecera.para}}</td>
        <td>{{cabecera.asunto}}</td>
        <td>{{cabecera.stamp}}</td>
        <td><a class="btn btn-primary" href="/details/{{_id}}" >Detalles</a></td>
<!--    <td>{{headers.contenido}}</td>
        <td>{{headers.adjunto}}</td> -->
    </tr>
    {{/each}}
</table>
<a href="/nuevoMensaje" class="btn btn-success"> Nuevo mensaje</a>